<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".User.WhoAreWeActivity"
            android:exported="false" />
        <activity
            android:name=".User.AsserCard"
            android:exported="false" />
        <activity
            android:name=".Admin.NewsEdit"
            android:exported="false" />
        <activity
            android:name=".User.BooksPosts"
            android:exported="false" />
        <activity
            android:name=".PreviewBook"
            android:exported="false" />
        <activity
            android:name=".Admin.NewBook"
            android:exported="false" />
        <activity
            android:name=".Admin.BooksPosts"
            android:exported="false" />
        <activity
            android:name=".User.aseer____"
            android:exported="false" />
        <activity
            android:name=".User.aseer__"
            android:exported="false" />
        <activity
            android:name=".Admin.NewAseer"
            android:exported="false" />
        <activity
            android:name=".Admin.aseer"
            android:exported="false" />
        <activity
            android:name=".User.allAseer"
            android:exported="false" />
        <activity
            android:name=".User.PreviewVideo"
            android:exported="false" />
        <activity
            android:name=".User.VideosPosts"
            android:exported="false" />
        <activity
            android:name=".Admin.VideoPosts"
            android:exported="false" />
        <activity
            android:name=".User.MapLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".User.PhotosPosts"
            android:exported="false" />
        <activity
            android:name=".Admin.PhotosPosts"
            android:exported="false" />
        <activity
            android:name=".Admin.ImagesSlider"
            android:exported="false" />
        <activity
            android:name=".Admin.Admin"
            android:exported="false" />
        <activity
            android:name=".logIn"
            android:exported="false" />
        <activity
            android:name=".User.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".User.LivresPDFActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlZnxhP-M5TpDHq0dwB_JyLIFCbmTtjww" />

        <activity
            android:name=".User.TotalHoriaActivity"
            android:exported="false" />
        <activity
            android:name=".User.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.HomeActivity"
            android:exported="false" />
    </application>

</manifest>